aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
install-sh
missing
mkinstalldirs
config.h
config.log
config.status
Makefile
Makefile.in
*.o
intl/charset.alias
intl/libintl.a
intl/libintl.h
intl/ref-add.sed
intl/ref-del.sed
